@import 'ngx-toastr/toastr';

/* Personnalisation optionnelle */
.toast-container .ngx-toastr {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.toast-confirm {
  background-color: #fff3cd;
  color: #856404;
}